.git
.gitignore
.next
.claude
.database_url
.db_decision
.env
.env.local
.env.development.local
.env.test.local
.env.production
.env.production.local
.gh_token
.progress
node_modules
npm-debug.log*
docker-compose*.yml
README.md
